<div class="pbar"><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="small material-icons">chevron_right</i></a>
</div>
<div class="profile">
    <div class="profile-head">
        <img src="http://www.nfurnish.co.kr/web/product/medium/nfurnish_270.jpg" class="profile-image">
        <%# <nav> <!-- navbar content here  --> </nav> %>
        <ul id="slide-out" class="sidenav">
            <li><div class="user-view">
            <div class="background">
                <img src="https://i.ytimg.com/vi/foBTxwksfG8/maxresdefault.jpg">
            </div>
            <a href="#"><img class="circle" src="http://cfile5.uf.tistory.com/image/211BBC3C53901D4305DA33"></a>
            <a href="#"><span class="white-text name">Hyoshin Park</span></a>
            <a href="#"><span class="white-text email">captain@soultree.com</span></a>
            </div></li>
            <li><a  class="subheader">Friends</a></li>
            <li><a class="waves-effect" href="#!">Following</a></li>
            <li><a class="waves-effect" href="#!">Followers</a></li>
            <li><a class="subheader">My Account</a></li>
            <li><a class="waves-effect" href="#!">Edit</a></li>
            
        </ul>
    
        <div class="profile-head-p">
        <h1>Hyoshin Park <a href=
        "#" data-target="slide-out" class= "sidenav-trigger"><i class="small material-icons">settings</i></a></h1>
        <p> Posts 23 Following 24 Follower 54</p>
        <p class="profile-comment">I am a Dreamer</p>
        
        </div>
    </div>

    <div class="profile-container">
        <nav class="nav-extended">
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab"><a href="#">My Page</a></li>
                    <li class="tab"><a href="#">Following Pages</a></li>
                    <li class="tab"><a href="#">BookMark</a></li>
                </ul>
            </div>
        </nav>

    
        <div class="grid container" style="display: flex;">
            <div class="grid-sizer"></div>
                <!-- image 1 -->
                <div class="grid-item m-3">
                    <img src="/assets/1.png" alt="image 1" width=100%>
                </div>
        
                <!-- image 2 -->
                <div class="grid-item m-3">
                    <img src="/assets/2.png" alt="image 2" width=100%>
                </div>
        
                <!-- image 3 -->
                <div class="grid-item m-3">
                    <img src="/assets/3.png" alt="image 3" width=100%>
                </div>
        
                <!-- image 5 -->
                <div class="grid-item m-3">
                    <img src="/assets/5.png" alt="image 5" width=100%>
                </div>



            <!-- class에 col s12 m3 l3 삭제 -->
        </div>
        
        

    </div>
       
</div>