 <div class="home">
  <div class="search">
    <h1>Ainterior</h1>
    <h2>Share All Interior Designs.</h2>
    <!--  <h2>Make your interior real.</h2>-->
    <div class="box z-depth-1 input-field">
      <form action="/">
      <input type="text" name="Search" placeholder="Ex) Livingroom, Sofa" class="inputA">
      
      <input type="submit" value="" class="waves-effect btn-flat inputB Default">
      
      </form>
    </div>           
  </div>
  </div>