<div class="pbar"><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="small material-icons">chevron_right</i></a>
</div>
<div class="profile">
    <div class="profile-head">
        <img src="http://www.nfurnish.co.kr/web/product/medium/nfurnish_270.jpg" class="profile-image">
        <%# <nav> <!-- navbar content here  --> </nav> %>
        <ul id="slide-out" class="sidenav">
            <li><div class="user-view">
            <div class="background">
                <img src="https://i.ytimg.com/vi/foBTxwksfG8/maxresdefault.jpg">
            </div>
            <a href="#"><img class="circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvfXPGbybTbK0nMe_9vATQmpcGPRBgON7UqjV8QjKEmnx5GuY9"></a>
            <a href="#"><span class="white-text name">Vincent Van Gogh</span></a>
            <a href="#"><span class="white-text email">vnvnggh@gmail.com</span></a>
            </div></li>
            <li><a  class="subheader">Friends</a></li>
            <li><a class="waves-effect" href="#!">Following</a></li>
            <li><a class="waves-effect" href="#!">Followers</a></li>
            <li><a class="subheader">My Account</a></li>
            <li><a class="waves-effect" href="#!">Edit</a></li>
            
        </ul>
    
        <div class="profile-head-p">
        <h1>Van Gogh <a href=
        "#" data-target="slide-out" class= "sidenav-trigger"><i class="small material-icons">settings</i></a></h1>
        <p> Posts 23 Following 24 Follower 54</p>
        <p class="profile-comment">I really want to capture the light.</p>
        
        </div>
    </div>

    <div class="profile-container">
        <nav class="nav-extended">
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                 
                    <li class="tab"><a href="#" id="mypage">My Page</a></li>
                    <li class="tab"><a href="#" id="followingpages">Following Pages</a></li>
                    <li class="tab"><a href="#" id="bookmark">BookMark</a></li>
                </ul>
            </div>
        </nav>

        <div id="list">

        글목록

     <ul id="images">
	<li>
		<a href="https://www.pexels.com/photo/mist-misty-fog-foggy-7919/">
			<img src="https://pexels.imgix.net/photos/7919/pexels-photo.jpg?fit=crop&w=640&h=480" alt="" />
		</a>
	</li>


    </ul>
 

    </div>
       
</div>